@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.contact-in {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
    background-color: black;
}



.contact-map {
    width: 50%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 60%;
    height: 60%;
    float: left; 
    padding: 80px 0 90px;
}

.contact-address {
    padding: 90px 50px 0px;
}

.contact-map p {
    color: white;
    font-family: 'Della Respira', serif;
}

.contact-form
{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    background-color: #171c1c;
}

.contact-form h1 {
    margin-bottom: 10px;
    color: white;
}

.contact-form-txt
{
    width: 90%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Della Respira', serif;
}

.contact-form-txt::placeholder {
    color: #aaa;
}

.contact-form-txtarea
{
    width: 90%;
    height: 140px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Della Respira', serif;
}

.contact-form-txtarea::placeholder {
    color: #aaa;
}

.form-btn {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-family: 'Della Respira', serif;
    background-color: cyan;
    font-size: 25px;
    transition: 0.2s;
    padding: 10px 0;
    cursor: pointer;
}

.form-btn:hover {
    letter-spacing: 1px;
}


.social-link {
    margin-top: 10px;
}

.social-link a{
    height: 20px;
    width: 20px;
    padding: 5px;
    background: #a746ef;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 0 4px;
    line-height: 25px;
}
